
#apps-cards-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#apps-cards-section h1 {
    color: var(--main-color-purple);
}
  
#apps-section {
    .card {
      min-height: 30rem;
      width: 20rem;
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
      .card-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        border-radius: 1rem 1rem 0 0;
        background: var(--main-color-purple);
        background: linear-gradient(
          145deg,
          var(--main-color-purple) 0%,
          rgba(178, 0, 113, 1) 100%
        );
  
        img {
          width: 8rem;
          border-radius: 100%;
          border: 3px solid white;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
  
        h3 {
          color: white;
          font-size: 2rem;
        }
      }
  
      .card-content {
        padding: 1.5rem;
  
        p {
          font-size: 1.2rem;
        }
      }
  
      .card-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1.5rem;
  
        button {
          background-color: var(--main-color-purple);
          border: none;
          border-radius: 0.6rem;
          padding: 1rem 2rem;
          width: fit-content;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
          a {
            color: white;
            font-size: 1.5rem;
          }
        }
  
        .download-btn {
          background: var(--main-color-purple);
          background: linear-gradient(
            145deg,
            var(--main-color-purple) 0%,
            rgba(178, 0, 113, 1) 100%
          );
        }
      }
    }
  }