:root {
    --main-color-purple: #58009D;
    --main-color-pink: #B20071;
}

body {
    width: 100vw;
    min-height: 100vh;
    padding: 0%;
    margin: 0%;
    font-family: 'Baloo 2';
    box-sizing: border-box;
    position: relative;
}

section {
    width: 100%;
    box-sizing: border-box;
    /* border-bottom: 2px blue dotted; */
}


@media (width < 900px) {
    #menu-button {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 90px;
        height: 73px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        color: var(--main-color-purple);
        background-color: rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 10px;
        border: 0px;
        z-index: 2;

        .menu-icon {
            font-size: 50px;
        }
    }



    #welcome-section {
        text-align: center;
        #photo-background-container{
            /* background-image: url(); */
            height: 400px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8)), url("2150923223.jpg");
            filter: brightness(1.5);
            background-size: cover;
            background-position: -100px;
            box-shadow: 0px 4px 6px grey;
            h1 {
                color: white;
                text-shadow: 2px 2px 5px black;
                font-size: 40px;
                font-weight: bolder;
                margin-bottom: 0px;
            }
        }

        #intro-header {
            color: var(--main-color-purple);
            font-size: 32px;
            margin-top: 60px;
            margin-bottom: 10px;
            #introducing-text{
                font-weight: 200;
            }
        }

        #tag-line-gradient-container{
            width: 100%;
            box-sizing: border-box;
            height: 150px;
            color: white;
            display: flex;
            padding: 0px 16px;
            align-items: center;
            background: linear-gradient(to right, var(--main-color-purple), var(--main-color-pink));
            h3 {
                font-weight: 200;
                font-size: 25px;
            }
        }

        p {
            margin-top: 48px;
            line-height: 32px;
            padding: 0px 32px;
            font-size: 22px;
            font-weight: 100;
        }

    }
        
        

}

    